@import "./styles/tokens.css";

@theme {
  --color-primary: #5B21B6;
  --color-primary-light: #7C3AED;
  --color-primary-dark: #4C1D95;

  --color-warn: #F59E0B;
  --color-danger: #DC2626;
  --color-success: #84A98C;
}
